{{#if questionFormShow}}
  <div class="question-form">
    <h1>New Question</h1>
    <form>
      <div class="form-group">
        <label for="question">Question</label>
        {{input value=question id="question"}}
      </div>

      <div class="form-group">
        <label for="details">Details</label>
        {{textarea value=details id="details"}}
      </div>

      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author"}}
      </div>
      <button class="btn btn-success" {{action 'saveQuestion'}}>Save</button>
    </form>
    <button class="btn btn-warning" {{action 'cancel'}}>Cancel</button>
  </div>
{{else}}
  <button class="btn btn-primary" {{action 'showQuestionForm'}}>New Question</button>
{{/if}}
