{{#if answerFormShow}}
  <div class="answer-form">
    <h1>New Answer</h1>
    <form>
      <div class="form-group">
        <label for="content">Answer</label>
        {{input value=content id="content"}}
      </div>
      <div class="form-group">
        <label for="answer-author">Author</label>
        {{input value=answer-author id="answer-author"}}
      </div>
      <button class="btn btn-success" {{action 'addAnswer'}}>Add</button>
    </form>
    <button class="btn btn-warning" {{action 'cancel'}}>Cancel</button>
  </div>
{{else}}
  <button class="btn btn-primary" {{action 'showAnswerForm'}}>New Answer</button>
{{/if}}
