
<div class="row">
  <div class="col-sm-6">
    {{favorite-toggle question=model}}
    <div class="question">
      <h2>{{model.question}}</h2>
      <h4>-{{model.author}}</h4>
      <p>{{model.details}}</p>
    </div>
    {{edit-question currentQuestion=model editQuestion="editQuestion"}}
    <button class="btn btn-danger" {{action 'deleteQuestion' model}}>Delete Question</button>
  </div>
  <div class="col-sm-6">
    {{new-answer currentQuestion=model addAnswer="addAnswer"}}
    {{answer-list currentQuestion=model answers=model.answers deleteAnswer="deleteAnswer" upvote="upvote" downvote="downvote"}}
  </div>
</div>
